<section class="layout d-flex justify-content-between h-100 min-vh-100 flex-column flex-md-row">
    <div class="sidebar-block d-flex flex-md-column flex-row flex-shrink-0 py-3 px-0 border-end border-dark-subtle
    px-3 px-md-0 justify-content-between justify-content-md-start"
         style="width: 280px;">
        <div class="burger" id="burger">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z"/>
            </svg>
        </div>
        <header class="sidebar-header d-none d-sm-block px-3">
            <a href="/"
               class="logo-link d-flex justify-content-center border-bottom border-dark border-1 border-opacity-10">
                <img class="mt-md-5 mt-0 mb-md-4 mb-0" src="/images/logo.png" alt="Logo"></a>
        </header>
        <nav class="sidebar-menu mb-auto w-100 px-3 d-none d-md-block" id="menu">
            <div class="close-menu" id="close">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
<g>
	<g>
		<path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
	</g>
</g>
</svg>
            </div>
            <ul class="nav nav-pills flex-column d-flex">
                <li class="nav-item">
                    <a class="custom-page-link text-decoration-none nav-link d-flex align-items-center" href="/">
                        <svg class="me-2 link-svg" width="15" height="14" viewBox="0 0 15 14" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M1.5 12.3964V5.89641H2.5V12.3964C2.5 12.6726 2.72386 12.8964 3 12.8964H12C12.2761 12.8964 12.5 12.6726 12.5 12.3964V5.89641H13.5V12.3964C13.5 13.2248 12.8284 13.8964 12 13.8964H3C2.17157 13.8964 1.5 13.2248 1.5 12.3964Z"
                                  fill="#052C65"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M12.5 1.39641V4.89641L10.5 2.89641V1.39641C10.5 1.12027 10.7239 0.896409 11 0.896409H12C12.2761 0.896409 12.5 1.12027 12.5 1.39641Z"
                                  fill="#052C65"/>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M6.79289 0.396409C7.18342 0.00588346 7.81658 0.00588554 8.20711 0.396409L14.8536 7.04286C15.0488 7.23812 15.0488 7.5547 14.8536 7.74996C14.6583 7.94522 14.3417 7.94522 14.1464 7.74996L7.5 1.10352L0.853553 7.74996C0.658291 7.94522 0.341709 7.94522 0.146447 7.74996C-0.0488155 7.5547 -0.0488155 7.23812 0.146447 7.04286L6.79289 0.396409Z"
                                  fill="#052C65"/>
                        </svg>
                        <span class="link-text text-primary-emphasis">Главная</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="custom-page-link text-decoration-none nav-link d-flex align-items-center"
                       href="/operations">
                        <svg class="me-2 link-svg" width="16" height="16" viewBox="0 0 16 16" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M11 15C13.2091 15 15 13.2091 15 11C15 8.79086 13.2091 7 11 7C8.79086 7 7 8.79086 7 11C7 13.2091 8.79086 15 11 15ZM16 11C16 13.7614 13.7614 16 11 16C8.23858 16 6 13.7614 6 11C6 8.23858 8.23858 6 11 6C13.7614 6 16 8.23858 16 11Z"
                                  fill="#052C65"/>
                            <path d="M9.4375 11.9444C9.48519 12.5403 9.95568 13.0049 10.8013 13.0599V13.5H11.1764V13.0568C12.0507 12.9957 12.5625 12.5281 12.5625 11.8496C12.5625 11.2323 12.1715 10.9144 11.4721 10.7494L11.1764 10.6791V9.48105C11.5516 9.52384 11.79 9.72861 11.8472 10.0128H12.5053C12.4576 9.43826 11.9648 8.989 11.1764 8.9401V8.5H10.8013V8.94927C10.0542 9.02262 9.54559 9.47188 9.54559 10.1076C9.54559 10.6699 9.92389 11.0275 10.5533 11.1742L10.8013 11.2353V12.5067C10.4166 12.4487 10.1623 12.2378 10.1051 11.9444H9.4375ZM10.7981 10.5905C10.4294 10.5049 10.2291 10.3307 10.2291 10.0678C10.2291 9.77445 10.4453 9.5544 10.8013 9.49022V10.5905H10.7981ZM11.2305 11.3362C11.6787 11.4401 11.8854 11.6082 11.8854 11.9046C11.8854 12.2439 11.6279 12.4762 11.1764 12.5189V11.324L11.2305 11.3362Z"
                                  fill="#052C65"/>
                            <path d="M1 0C0.447715 0 0 0.447716 0 1V9C0 9.55229 0.447715 10 1 10H5.08296C5.1407 9.65585 5.22773 9.32163 5.34141 9H3C3 7.89543 2.10457 7 1 7V3C2.10457 3 3 2.10457 3 1H13C13 2.10457 13.8954 3 15 3V6.52779C15.3801 6.86799 15.7166 7.25594 16 7.68221V1C16 0.447715 15.5523 0 15 0H1Z"
                                  fill="#052C65"/>
                            <path d="M9.9983 5.08325C9.99943 5.05564 10 5.02789 10 5C10 3.89543 9.10457 3 8 3C6.89543 3 6 3.89543 6 5C6 5.6845 6.34387 6.28869 6.86829 6.64924C7.71486 5.84504 8.79591 5.28533 9.9983 5.08325Z"
                                  fill="#052C65"/>
                        </svg>
                        <span class="link-text text-primary-emphasis">Доходы & Расходы</span>
                    </a>
                </li>
                <li class="nav-item">
                    <button class="btn px-3 py-2 w-100 btn-toggle d-inline-flex align-items-center rounded border-0
                    collapsed rounded-bottom-0"
                            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false"
                            id="toggle-btn">
                        <div class="category-nav d-flex w-100 pe-2 align-items-center justify-content-between">
                            <span class="link-text text-primary-emphasis">Категории</span>
                        </div>
                    </button>
                    <div class="collapse" id="home-collapse" style="">
                        <ul class="nav nav-pills flex-column mb-auto list-group">
                            <li class="list-group-item list-group-item-action p-0 rounded-0">
                                <a class="custom-page-link text-decoration-none nav-link d-flex align-items-center"
                                   href="/categories/income">
                                    <span class="link-text text-primary-emphasis">Доходы</span>
                                </a>
                            </li>
                            <li class="list-group-item list-group-item-action p-0">
                                <a class="custom-page-link text-decoration-none nav-link d-flex align-items-center"
                                   href="/categories/expense">
                                    <span class="link-text text-primary-emphasis">Расходы</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <footer class="sidebar-footer position-relative top-0 d-md-block d-flex flex-sm-row flex-column">
            <div class="balance-block w-100 ps-3 mb-md-3 mb-0 d-md-block d-flex align-items-center">
                Баланс: <span class="text-primary fw-bold ms-2" id="balance-number"></span>
            </div>
            <div
                    class="person-info d-flex align-items-center mb-md-4 pt-md-3 mb-0 pt-0 border-top border-dark
               border-opacity-25 text-decoration-none text-primary-emphasis">
                <img class="mx-3 mt-1 person-icon" src="/images/person-icon.png" alt="Person icon" id="person-icon">
                <span class="person-name-text" id="person-name"></span>
                <a href="/logout" id="logout-btn" type="button" class="logout-btn btn btn-danger">Выйти</a>
            </div>
        </footer>
    </div>
    <div class="content-block w-100 d-flex pt-0 pt-md-5 ms-0 ms-md-5 ps-2 flex-column align-items-center
    align-items-md-start pb-4" id="content-block"></div>
    <div class="modalBackground" id="modal-category">
        <div class="modal-window" id="modal-category-window">
            <div class="modal-body text-primary-emphasis fw-bold text-center mt-3 fs-5">
                Вы действительно хотите удалить категорию? Связанные операции будут удалены навсегда.
                <div class="button-group mt-3 pt-1 mb-4 mb-0">
                    <button id="delete-category-btn" type="button" class="btn btn-success me-2">
                        Да, удалить
                    </button>
                    <button type="button" class="btn btn-danger ms-1" id="modal-category-close-button">
                        Не удалять
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modalBackground" id="modal-operation">
        <div class="modal-window" id="modal-operation-window">
            <div class="modal-body text-primary-emphasis fw-bold text-center mt-3 fs-5">
                Вы действительно хотите удалить выбранную операцию?
                <div class="button-group mt-3 pt-1 mb-4 mb-0">
                    <button id="delete-operation-btn" type="button" class="btn btn-success me-2">
                        Да, удалить
                    </button>
                    <button type="button" class="btn btn-danger ms-1" id="modal-operation-close-button">
                        Не удалять
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
