@media screen and (max-width: 1199.98px) {
    .diagram {
        border: 0 !important;
        width: unset !important;
    }
}

@media screen and (max-width: 767.98px) {
    .sidebar-block {
        border: 0 !important;
        width: unset !important;
    }

    .logo-link, .person-info {
        border: 0 !important;
        width: 200px;
    }

    .sidebar-header {
        align-items: center;
        display: flex;
    }

    .main-title {
        text-align: center;
    }

    .burger {
        width: 25px;
        cursor: pointer;
    }

    .burger:hover svg path {
        fill: gray;
    }


    .sidebar-menu {
        display: none;
        z-index: 100;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        background: #000000c9;
    }

    .sidebar-menu ul.nav.nav-pills {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .sidebar-menu ul.nav.nav-pills li.nav-item {
        width: 100%;
    }

    .sidebar-menu ul.nav.nav-pills li.nav-item a, .category-nav {
        width: 100% !important;
        justify-content: center !important;
    }

    .burger {
        display: block;
    }

    .link-text {
        color: #6969e7 !important;
    }

    .link-svg path {
        fill: #6969e7;
    }

    .open .close-menu {
        display: block;
    }

    .btn-toggle::after {
        content: url("data:image/svg+xml,%3Csvg width='7' height='14' viewBox='0 0 7 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.145063 13.3539C0.051021 13.2601 -0.00183105 13.1327 -0.00183105 12.9999C-0.00183105 12.867 0.051021 12.7397 0.145063 12.6459L5.79206 6.99987L0.145063 1.35387C0.0185907 1.2274 -0.0308022 1.04306 0.0154897 0.8703C0.0617817 0.697536 0.196726 0.562593 0.36949 0.5163C0.542254 0.470008 0.726591 0.519401 0.853063 0.645873L6.85306 6.64587C6.9471 6.73968 6.99996 6.86705 6.99996 6.99987C6.99996 7.1327 6.9471 7.26007 6.85306 7.35387L0.853063 13.3539C0.759259 13.4479 0.63189 13.5008 0.499063 13.5008C0.366235 13.5008 0.238867 13.4479 0.145063 13.3539Z' fill='%236969e7'/%3E%3C/svg%3E%0A");
    }
    canvas {
        width: unset;
    }

    .table {
        font-size: 12px;
    }

    .content-header .main-title {
        font-size: 20px !important;
    }

    .modal-body {
        font-size: 18px !important;
    }

    .modal-window {
        width: 450px;
        height: unset;
        top: calc(50% - 75px);
        left: calc(50% - 225px);
    }
}


@media screen and (max-width: 470px) {
    .operation-icon {
        width: 10px;
        height: auto;
    }

    span#person-name, .balance-block {
        font-size: 14px;
    }

    input.form-control, .form-signup .input-group, .form-login .input-group {
        width: 280px;
    }

    .modal-body {
        font-size: 14px !important;
    }

    .modal-window {
        width: 300px;
        left: calc(50% - 150px);
    }

    td {
        font-size: 8px;
    }
}

@media screen and (max-width: 400px) {
    .table {
        font-size: 10px;
    }

    .card-title {
        font-size: 20px !important;
    }

    .card {
        width: 280px;
    }

    .btn {
        font-size: 14px;
    }
}