<div class="container ms-0 me-0 me-md-5">
    <header class="content-header my-md-5 my-2">
        <h1 class="main-title fs-1 fw-bold text-primary-emphasis mb-2" id="page-title">Главная</h1>
    </header>
    <div class="pills-time-interval mb-4 pb-3 d-flex flex-column">
        <ul class="nav nav-pills row-gap-3 justify-content-md-start justify-content-center">
            <li class="nav-item pill-item">
                <button type="button" class="time-btn nav-link d-flex justify-content-center align-items-center"
                        id="today-time-btn">Сегодня
                </button>
            </li>
            <li class="nav-item pill-item">
                <button type="button" class="time-btn nav-link d-flex justify-content-center align-items-center"
                        id="week-time-btn">Неделя
                </button>
            </li>
            <li class="nav-item pill-item">
                <button type="button" class="time-btn nav-link d-flex justify-content-center align-items-center"
                        id="month-time-btn">Месяц
                </button>
            </li>
            <li class="nav-item pill-item">
                <button type="button" class="time-btn nav-link d-flex justify-content-center align-items-center"
                        id="year-time-btn">Год
                </button>
            </li>
            <li class="nav-item pill-item">
                <button type="button" class="time-btn nav-link d-flex justify-content-center align-items-center active"
                        id="all-time-btn">Все
                </button>
            </li>
            <li class="nav-item pill-item">
                <button type="button" class="time-btn nav-link d-flex justify-content-center align-items-center"
                   id="interval-time-btn">Интервал</button>
            </li>
            <li class="nav-item d-flex align-items-center d-flex">
                <div class="date-block d-flex flex-row">
                    <span class="me-3 fw-bold">с</span>
                    <span class="date-span me-4" id="interval-prev-time-span">Дата</span>
                    <input type="date" class="date-field me-4" id="interval-prev-time-btn">
                </div>
                <div class="date-block d-flex flex-row">
                    <span class="me-3 fw-bold">по</span>
                    <span class="date-span" id="interval-next-time-span">Дата</span>
                    <input type="date" class="date-field" id="interval-next-time-btn">
                </div>
            </li>
        </ul>
    </div>

    <div class="pie-chart-block d-flex align-items-center row row-cols-2 mt-xl-5 pt-lg-5 w-100 flex-column flex-xl-row">
        <div class="diagram col w-50 border-dark-subtle border-end border-opacity-25 text-center">
            <h2 class="canvas-title fs-3 fw-bold text-primary-emphasis">Расходы</h2>
            <canvas class=" h-auto" id="pie-chart-expenses"></canvas>
        </div>
        <div class="diagram col w-50 text-center mt-4 mt-xl-0">
            <h2 class="canvas-title fs-3 fw-bold text-primary-emphasis">Доходы</h2>
            <canvas class=" h-auto ms-0" id="pie-chart-incomes"></canvas>
        </div>
    </div>
</div>