<div class="main-content container-fluid">

    <header class="content-header my-md-5 my-3">
        <h1 class="main-title fs-1 fw-bold text-primary-emphasis mb-2" id="page-title">Создание категории доходов</h1>
    </header>
    <input class="form-control expense-name-input mb-1" type="text" id="categoryNameInput" placeholder="Название...">
    <span id="categoryNameInput-error" class="error invalid-feedback">Заполните поле</span>
    <div class="button-group mt-3">
        <button type="button" id="create-button" class="btn btn-success me-2">Создать</button>
        <a href="/categories/income" class="custom-page-link btn btn-danger">Отмена</a>
    </div>
</div>